
<body>
	<div class="container">
	
		<div class="heading-bar">
			Me Learning JQuery
		</div>
	
		<div class="content-row">
			<div class="content-box">My Jquery</div>
		    <div class="content-box"><%= link_to 'select me', select_me_index_path %></div>
	        <div class="content-box"><%= link_to 'selector', selector_path("1") %></div>
	 	</div>

 	</div>
</body>

