<p id="notice"><%= notice %></p>

<h1>Listing Homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= @home_anand %>
     
  </tbody>
</table>

<br>


