@font-face {
	font-family: 'Lato-Regular';
	src: font-url('Lato-Regular.eot');
	src: font-url('Lato-Regular.eot?#iefix') format('embedded-opentype'), font-url('Lato-Regular.woff') format('woff'), font-url('Lato-Regular.ttf') format('truetype'), font-url('Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: font-url('Lato-Light.eot');
	src: font-url('Lato-Light.eot?#iefix') format('embedded-opentype'), font-url('Lato-Light.woff') format('woff'), font-url('Lato-Light.ttf') format('truetype'), font-url('Lato-Light.svg#Lato-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VarelaRound-Regular';
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'), url('VarelaRound-Regular.woff') format('woff'), url('VarelaRound-Regular.ttf') format('truetype'), url('VarelaRound-Regular.svg#VarelaRound-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}