// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// https://github.com/twbs/bootstrap-sass
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// Since we have used the bootstrap gem, using the normalize as part of it.
// Normalize should reset many values to keep it consistent across browsers.

body {
  //setting the back ground color
  background-color : #b3b3b3;
  // Font as Lato-Light. Fall back is
  font-family      : 'Lato-Light';
  }

//The banner
.banner {
  // dimensions
  // To fix issue#1. Made min-width 900px. Works in mac chrome
  min-width  : 900px;
  height     : 200px;

  // For horizontally centering it
  margin     : 0 auto 0 auto;
  // These two are for horizontal and vertical alignment
  // Horizontal alignment
  text-align : center;
  // border : 1px red dashed;
  font-size  : 64px;

  // Vertical alignment (refer http://stackoverflow.com/questions/8865458)
  // line-height: 200px;
  }

// Vertical align http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
// paragraph inside banner
// This is the "space" css selector indicating "ancestor decedent"
// ie - any p as a descendant of banner
.banner p {
  position          : relative;
  top               : 50%;

  // important paragraph adds additional content and increasing height
  margin            : 0;
  -webkit-transform : translateY(-50%);
  -ms-transform     : translateY(-50%);
  transform         : translateY(-50%);;
  }

//The list table
.learning-list-header {
  // dimensions
  width       : 900px;
  height      : 80px;

  // For horizontally centering it
  margin      : 0 auto;
  text-align  : center;

  font-family : 'VarelaRound-Regular';
  font-size   : 36px;

  // Child Class
  .book-version {
    $violet-header : hsla(246, 68%, 66%, 1);
    float            : left;

    width            : 300px;
    height           : inherit;

    //fall back
    background-color : $violet-header;

    a {
      text-decoration : none;

      color           : #d0d8e7;
      }
    p {
      position          : relative;
      top               : 50%;

      // important paragraph adds additional content and increasing height
      margin            : 0;
      -webkit-transform : translateY(-50%);
      -ms-transform     : translateY(-50%);
      transform         : translateY(-50%);
      }
    }

  // child class
  .my-version {
    float            : left;

    // dimensions
    width            : 300px;
    height           : inherit;

    //fall back
    background-color : hsla(161, 58%, 36%, 1);

    p {
      position          : relative;
      top               : 50%;

      // important paragraph adds additional content and increasing height
      margin            : 0;
      -webkit-transform : translateY(-50%);
      -ms-transform     : translateY(-50%);
      transform         : translateY(-50%);
      }
    }

  // Child Class
  .opal-version {
    float            : right;

    width            : 300px;
    height           : inherit;

    //fall back
    background-color : hsla(225, 82%, 59%, 1);

    //background-color: #406BEC;
    a {
      text-decoration : none;

      color           : #fffe00;
      }
    p {
      position          : relative;
      top               : 50%;

      // important paragraph adds additional content and increasing height
      margin            : 0;
      -webkit-transform : translateY(-50%);
      -ms-transform     : translateY(-50%);
      transform         : translateY(-50%);
      }
    }
  }

//The list rows
.learning-list-rows {
  // dimensions
  width       : 900px;
  height      : 80px;

  // For horizontally centering it
  margin      : 0 auto;
  text-align  : center;

  font-family : 'VarelaRound-Regular';
  font-size   : 20px;

  a {
    text-decoration : none;
    }

  // Child class
  .book-version {
    float            : left;

    width            : 300px;
    height           : inherit;

    //fall back
    background-color : hsla(240, 54%, 62%, 0.67);

    a {
      color : #d0d8e7;
      }
    p {
      position          : relative;
      top               : 50%;

      // important paragraph adds additional content and increasing height
      margin            : 0;
      -webkit-transform : translateY(-50%);
      -ms-transform     : translateY(-50%);
      transform         : translateY(-50%);
      }
    }

  // child class
  .my-version {
    float            : left;

    // dimensions
    width            : 300px;
    height           : inherit;

    //fall back
    background-color : hsla(166, 63%, 51%, 0.67);

    a {
      color : #d0d8e7;
      }
    p {
      position          : relative;
      top               : 50%;

      // important paragraph adds additional content and increasing height
      margin            : 0;
      -webkit-transform : translateY(-50%);
      -ms-transform     : translateY(-50%);
      transform         : translateY(-50%);
      }
    }

  // Child Class
  .opal-version {
    float            : right;

    width            : 300px;
    height           : inherit;

    //fall back
    background-color : hsla(220, 62%, 53%, 0.68);

    a {
      color : #fffe00;
      }
    p {
      position          : relative;
      top               : 50%;

      // important paragraph adds additional content and increasing height
      margin            : 0;
      -webkit-transform : translateY(-50%);
      -ms-transform     : translateY(-50%);
      transform         : translateY(-50%);
      }
    }

  }





